versions/pre-standard/tdwg_dw_core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!-- Introduction                                                          -->
<!-- ===================================================================== -->
<!-- Darwin Core XML schema                                                -->
<!-- History:                                                              -->
<!--   version 0.7 2007-04-23 R. De Giovanni: Changed namespace            -->
<!--   version 0.6 2007-04-17 R. De Giovanni: Added qualification for      -->
<!--                          types included from tdwg_basetypes.xsd       -->
<!--   version 0.5 2007-02-14 J. Wieczorek, R. De Giovanni, J. de la Torre -->
<!-- Status:                                                               -->
<!--   Ready for testing                                                   -->
<!--   See http://wiki.tdwg.org for current status of this standard.       -->

<!-- ===================================================================== -->
<!-- Schema                                                                -->
<!-- ===================================================================== -->
<xs:schema targetNamespace="http://rs.tdwg.org/dwc/dwcore/"
	xmlns:dwe="http://rs.tdwg.org/dwc/dwelement" 
	xmlns:dwc="http://rs.tdwg.org/dwc/dwcore/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" version="0.7">

	<!-- ============================================================== -->
	<!-- Documentation                                                  -->
	<!-- ============================================================== -->
	<xs:annotation>
		<xs:documentation> Protocol independent XML Schema for Darwin Core. For element
			documentation, see
			http://wiki.tdwg.org/twiki/bin/view/DarwinCore/DarwinCoreDraftStandard.
		</xs:documentation>
	</xs:annotation>


	<!-- ============================================================== -->
	<!-- Includes                                                       -->
	<!-- ============================================================== -->
	<!-- include - inclusions must be top-level elements (children of   -->
	<!--   the xs:schema element. Inclusion is restricted to the       -->
	<!--   definition of a single namespace.                            -->
	<!-- ============================================================== -->
	<xs:include schemaLocation="http://rs.tdwg.org/dwc/tdwg_basetypes.xsd"/>


	<!-- ============================================================== -->
	<!-- Imports                                                        -->
	<!-- ============================================================== -->
	<!-- import - must be used to import definitions from other         -->
	<!--   namespaces.                                                  -->
	<!-- ============================================================== -->
	<xs:import namespace="http://rs.tdwg.org/dwc/dwelement"
		schemaLocation="http://rs.tdwg.org/dwc/tdwg_dw_element.xsd"/>


	<!-- ============================================================== -->
	<!-- Elements                                                       -->
	<!-- ============================================================== -->
	<xs:element name="GlobalUniqueIdentifier" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/GlobalUniqueIdentifier"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateLastModified" type="xs:dateTime" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/DateLastModified"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="BasisOfRecord" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/BasisOfRecord"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="InstitutionCode" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/InstitutionCode"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CollectionCode" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/CollectionCode" xml:lang="en"
			/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CatalogNumber" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/CatalogNumber"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="InformationWithheld" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/InformationWithheld"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Remarks" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Remarks"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ScientificName" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="false">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/ScientificName" xml:lang="en"
			/>
		</xs:annotation>
	</xs:element>
	<xs:element name="HigherTaxon" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/HigherTaxon"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Kingdom" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Kingdom"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Phylum" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Phylum"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Class" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Class"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Order" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Order"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Family" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Family"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Genus" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Genus"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SpecificEpithet" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/SpecificEpithet"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfraspecificRank" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/InfraspecificRank"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfraspecificEpithet" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/InfraspecificEpithet"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="AuthorYearOfScientificName" type="xs:string"
		substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/AuthorYearOfScientificName"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="NomenclaturalCode" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/NomenclaturalCode"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdentificationQualifier" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/IdentificationQualifier"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="HigherGeography" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/HigherGeography"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Continent" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Continent"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WaterBody" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/WaterBody"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="IslandGroup" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/IslandGroup"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Island" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Island"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Country" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Country"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StateProvince" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/StateProvince"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="County" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/County"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Locality" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Locality"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="MinimumElevationInMeters" type="xs:double" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/MinimumElevationInMeters"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="MaximumElevationInMeters" type="xs:double" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/MaximumElevationInMeters"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="MinimumDepthInMeters" type="xs:double" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/MinimumDepthInMeters"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="MaximumDepthInMeters" type="xs:double" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/MaximumDepthInMeters"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CollectingMethod" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/CollectingMethod"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValidDistributionFlag" type="xs:boolean" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/ValidDistributionFlag"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="EarliestDateCollected" type="dwc:DateTimeISO" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/EarliestDateCollected"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="LatestDateCollected" type="dwc:DateTimeISO" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/LatestDateCollected"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DayOfYear" type="dwc:dayOfYearDataType" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/DayOfYear"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Collector" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Collector"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sex" type="xs:string" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Sex"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="LifeStage" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/LifeStage"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attributes" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/Attributes"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ImageURL" type="xs:anyURI" substitutionGroup="dwe:dwElement" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/ImageURL"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RelatedInformation" type="xs:string" substitutionGroup="dwe:dwElement"
		nillable="true">
		<xs:annotation>
			<xs:documentation
				source="http://wiki.tdwg.org/twiki/bin/view/DarwinCore/RelatedInformation"
				xml:lang="en"/>
		</xs:annotation>
	</xs:element>

</xs:schema>
